body {background-color:#471226;}
h1{color:#f9e09e; font-family:Algerian ;font-size: 50px }
h1{text-align: center;}
p.solid {border-style: solid;}
p {color:#f9e09e ;font-family: Bodoni MT ; font-size: 20px }
p {text-align: center;}
img {margin-left: 500px; border-color:#f9e09e; border-width: large; border-style: double; }
ul{color:#FFE3B0; font-family: Bodoni MT; font-size: 20px}
a{color:#FFE3B0;text-decoration: none;}
a:hover {color:#FFE3B0}


